.list-page {
  background-color: white
}
.date-picker{
  margin: 10px 10px 10px 10px;
  width: 20%;
  background-color: #d0d3d8;
}
.selector{
 margin: 10px 10px 10px 10px;
 width: 30%;
 background-color: white;
}
.td-header{
  background-color: #6992db;
}
.back-ground-page{
  background-color: #FFF;
}
.tr-id{
  width: 18%;
}
.tr-address{
  width: 35%;
}
.tr-name{
  width: 22%;
}
.tr-status-name{
  width: 13%
}
.tr-button{
  width: 12%
}
.react-bs-table table td, .react-bs-table table th {
    white-space: initial;
}
.btn-custom-map{
  padding: 0;
  border: none;
  background: none;
   /* this was 1px earlier */
 }
 .blue-icon{
   color: #3498db;
 }
.modal-page{
  width: 50%;
  height: 50%;
  align-items: center;
}

.image-map{
   border: 1px solid black;
}

input[type=text].custom-date-picker {
    border: 1px solid rgb(166, 166, 166);
    border-radius: 5px;
    padding-left: 8px;
    padding-bottom: 3px;
    padding-top: 3px;
}
