.date-picker{
  margin: 10px 10px 10px 10px;
  width: 20%;
  background-color: #d0d3d8;
}
.selector{
 margin: 10px 10px 10px 10px;
 width: 30%;
 background-color: white;
}

.td-header{
  background-color: #d0d3d8;
}
