.detail-page {
	background-color: white
}

.align-right {
	margin-right:5px
}

.detail-page-description {
	.detail-page-description-title {
		background-color: #89C4F4;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top:1px solid #ddd;
	}	
}
