<!DOCTYPE html>
<html>
<head>
  <!-- This file is the template for "www/index.html". Modify it to fit your needs -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- The following EJS lines include the necessary CSS and JS
  from Monaca (cordova.js/ loader.js) in production mode -->

<% for (var dep in htmlWebpackPlugin.options.externalJS) { %>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.externalJS[dep] %>"></script><% } %>
<% for (var dep in htmlWebpackPlugin.options.externalCSS) { %>
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.externalCSS[dep] %>"><% } %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoVPuQJNwD3s4KBxENkQHTv8BYUy9Z0W4"
  type="text/javascript"></script>
</head>
<body>
  <div id="app"></div>

</body>
</html>
