.separate {
	margin:4px 0 4px 0
}

.left-space-right {
	margin-left: 2px;
	margin-right: 2px
}
.col-table {
	text-align: center;
	border-right: 1px solid #ccc;
}
.top-space-bottom {
	margin-top: 5px;
	margin-bottom: 5px
}

.padding-space {
	padding:10px
}

.align-right {
	margin-right:5px
}

.align-right-10{
	margin-right:10px
}

.default-header-color {
	background-color: #6992db
}

.toolbar-color{
  background-color: #6992db;
  .text-color{
    color: white;
  }
}

.margin-navigator {
	margin-top: 15px
}

.react-datepicker__input-container {
	padding:10px;
}